
        /* ========================================
           VARIABILI E RESET
        ======================================== */
        :root {
            --dark: #191919;
            --gray: #2a2a2a;
            --green: #00665E;
            --gold: #F3CD6E;
            --white: #ffffff;
            --serif: 'Playfair Display', serif;
            --sans: 'Montserrat', sans-serif;
        }


        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            font-family: var(--sans);
            color: var(--dark);
            line-height: 1.7;
            overflow-x: hidden;
        }
        
        h1, h2, h3, h4, h5, h6 {
            font-family: var(--serif);
            font-weight: 550;
            line-height: 1.3;
        }
        
        /* ========================================
           NAVBAR
        ======================================== */
        .navbar-custom {
            background: transparent;
            transition: all 0.4s ease;
            padding: 0.8rem 0;
        }
        
        .navbar-custom.scrolled {
            background: var(--dark);
            backdrop-filter: blur(10px);
            padding: 0.5rem 0;
            box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
        }
        
        .navbar-brand img {
            height: 50px;
        }
        
        .navbar-nav .nav-link {
            color: var(--white) !important;
            font-size: 0.8rem;
            font-weight: 400;
            letter-spacing: 0.5px;
            margin: 0 0.8rem;
            transition: color 0.3s ease;
        }
        
        .navbar-nav .nav-link:hover {
            color: var(--gold) !important;
        }

        /* ========================================
           BUTTON
        ======================================== */
        .btn {
            padding: 0.6rem 1.6rem;
            font-weight: 500;
            font-size: 0.9rem;
            border-radius: 5px;
            transition: all 0.3s ease;
            text-transform: uppercase;
        }

        .btn-primary {
            background-color: var(--green);
            border: none;
        }

        .btn-primary:hover {
            background-color:#008378;
            transform: translateY(-2px);
            box-shadow: 0 5px 15px rgba(0,105,92,0.4);
        }

        .btn-primary:active{
            background-color: var(--green) !important;
        }

        .btn-outline-light{
            background-color: transparent;
            color: white;
            border: none;
            box-shadow: inset 0 0 0 2px white;
        }

        .btn-outline-light:hover {
            background-color: var(--white);
            color: var(--dark);
            transform: translateY(-2px);
        }

        .btn-outline-light:active{
            background-color: #f7f7f7 !important;
        }

        .btn-hero{
            margin-right: 10px;
        }


        
        /* ========================================
           SEZIONE HERO
        ======================================== */
        .hero-section {
            position: relative;
            height: 100vh;
            min-height: 700px;
            display: flex;
            align-items: center;
            overflow: hidden;
            
        }
        
        .hero-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }
        
        .hero-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(60deg, rgba(1, 19, 11, 0.7) 20%, rgba(2, 2, 2, 0.1) 100%);
            z-index: 2;
        }
        
        .hero-content {
            position: relative;
            z-index: 3;
            color: var(--white);
        }

        .pills-container {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            margin-bottom:0.5rem;
            order: 1;
        }

        .pill-icon img, .trust-icon img, .promo-pill img{
            width: 16px;
            height: 16px;
            object-fit: contain;
            display: block;
        }

        .pill {
            background: var(--gold);
            color: var(--dark);
            padding: 0.25rem 0.9rem 0.25rem 0.6rem;
            border-radius: 50px;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            transition: all 0.3s;
            font-size: 0.8rem;
            font-weight: 500;
        }
        
        .hero-content h1 {
            font-size: 2.8rem;
            margin-bottom: 1.5rem;
            letter-spacing: -1px;
        }
        
        .hero-content p {
            font-size: 1rem;
            font-weight: 400;
            margin-bottom: 3rem;
            font-family: var(--sans);
            line-height: 1.6;
        }
       
        
        
        /* ========================================
           SEZIONE OFFERTA SPECIALE
        ======================================== */

        .offer-section {
            background: #f7f7f7;
            padding: 60px 0;
        }
        
        .offer-box {
            background-color: #121212;
            background-image: linear-gradient(
                to right,
                transparent 0%,
                rgba(94, 94, 94, 0.3) 50%,
                transparent 100%
            );
            background-repeat: no-repeat;
            background-position: -100vw;
            /*animated gradient*/
            animation: shine 3s infinite;
           
            padding: 2.5rem 3rem 2rem 3rem;
            border: 5px solid var(--gold);
            border-radius: 25px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
        }

        @keyframes shine {
            0%{background-position:-100vw}
            100%{background-position:100vw}
        }
        
        .offer-headline {
            font-size: 2rem;
            color: var(--white);
            margin-bottom: 1rem;
        }

        .bold-headline{
            font-family: var(--sans);
            font-size: 2rem;
            font-weight: 600;
        }
        
        .offer-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        /* ========================================
           SEZIONE GAMMA MODELLI
        ======================================== */
        .gamma-section {
            padding: 40px 0;
        }

        .section-title {
            font-size: 2.5rem;
            margin-bottom: 0;
        }

        .section-subtitle {
            font-size: 1rem;
            color: #666;
        }

        .model-title {
            font-size: 2rem;
            margin-bottom: 0;
        }

        .img-fluid {
            box-shadow: 0 5px 15px rgba(0,0,0,0.15);;
        }


        hr{
            display: block;
            height: 1px;
            width: 70%;
            border: 0;
            border-top: 1px solid var(--gray);
            padding: 0;
        }

        .model-description {
            font-size: 1.1rem;
            color: #666;
            margin-bottom: 1.3rem;
        }

        .model-price {
            margin: 1.3rem 0;
        }

        .price-label {
            font-weight: 600;
            display: block;
            margin-bottom: 0rem;
        }

        .price-range {
            display: block;
        }

        .price-info {
            font-size: 0.95rem;
            color: #666;
        }

        .price-save {
            color: #3EAA29;
        }

        .pill-badge {
            position: absolute;
            top: 25px;
            left: 35px;
            background-color: var(--gold);
            color: var(--dark);
            padding: 0.25rem 0.9rem 0.25rem 0.6rem;
            display: flex;
            align-items: center;
            border-radius: 20px;
            font-size: 0.8rem;
            font-weight: 600;
            z-index: 1;
            gap: 0.5rem;
        }



        .position-relative {
            position: relative;
        }
        
        /* ========================================
           SEZIONE TIMELESS
        ======================================== */
        .timeless-section {
            position: relative;
            background-image: url("../img/bg-timeless.jpg");
            background-position: center;
            background-size: cover;
            padding: 80px 0;
            color: var(--white);
        }

        .timeless-logo {
            height: 120px;
            margin-bottom: 1rem;
        }
        
        .timeless-title {
            font-size: 2.5rem;
            line-height: 1.2em;
            color: var(--white);
        }
        
        .timeless-body {
            font-size: 1rem;
            line-height: 1.8;
            margin-bottom: 2rem;
        }
        
        .timeless-features {
            list-style: none;
            padding: 0;
            margin-bottom: 3rem;
        }
        
        .timeless-icon{
            width: 18px;
            margin-right: 0.8rem;
        }

        .timeless-features li {
            font-size: 1rem;
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
        }
        
        .timeless-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: 3px solid var(--gold);
        }
        
        
        
       
         /* ========================================
           SEDI
        ======================================== */
        .sedi-section {
            padding: 5rem 0;
            background-color: var(--light-color);
        }

        .sede-card {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.1);
            transition: transform 0.3s ease;
        }

        .sede-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 25px rgba(0,0,0,0.15);
        }

        .sede-image{
            width: 100%;
            display: block;
            margin: 0;
            border-radius: 10px 10px 0 0 ;
        }

        .sede-content-wrapper{
            padding: 1rem 1rem 1rem 1rem;
        }

        .location-icon{
            width: 25px;
            margin-top: 2px;
        }

        .sede-title {
            font-size: 1.8rem;
            margin-bottom: 1rem;
        }

        .sede-address {
            font-size: 1rem;
            margin-bottom: 0.3rem;
            color: #666;
        }


        
        /* ========================================
           FOOTER
        ======================================== */
        .footer {
            background: var(--dark);
            color: var(--white);
            padding: 2rem 0;
        }
        
        .footer-copyright {
            text-align: center;
            color: #999;
            font-size: 0.8rem;
        }

        .footer-copyright img{
            height: 50px;
            margin-bottom: 15px;
        }

        .footer-copyright a{
            color: #b6b6b6
        }

         /* ========================================
           MOBILE CTA
        ======================================== */
        .mobile-cta-box {
            display: none;
        }

         /* ========================================
           MODALE
        ======================================== */
        
        /* Modal Styles */
        .modal-content {
            border-radius: 12px;
            border: none;
            box-shadow: 0 10px 40px rgba(0,0,0,0.3);
        }

        .modal-header {
            background-color: var(--dark);
            color: #fff;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding: 0.8rem 1rem;
        }

        .modal-header .modal-title {
            font-size: 1.4rem;
            font-weight: 500;

        }
        
        .modal-header .btn-close {
            filter: brightness(0) invert(1);
        }

        .modal-body {
            padding: 2rem;
        }


        
        /* ========================================
           RESPONSIVE
        ======================================== */

        @media (max-width: 576px) {
            
            .navbar-custom {
            background: var(--dark);
            padding: 0.5rem 0;
            }

            .navbar-custom.scrolled {
            background: var(--dark);
            padding: 0.5rem 0;
            box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
            }
            
            .navbar-nav {
                background: var(--dark);
                padding: 0.5rem;
                margin-top: 1rem;
                text-align: center;
            }

            .navbar-brand img {
                height: 35px;
            }

            .navbar-toggler{
                border: none;
                color: transparent;
            } 

            .navbar-toggler:focus, .navbar-toggler:active {
                 border: none;
            }
            
            .navbar-nav .nav-link {
                margin: 0.5rem 0;
            }

            .btn-hero{
                width: 100%;
                margin-bottom: 10px;
            }
            .hero-section{
                min-height: 640px;
                padding-top: 40px;
                height:auto;
            }
            
            .hero-content h1 {
                font-size: 2rem;
                padding-right: 3rem;
                margin-bottom: 1rem;
            }

            .hero-content p {
                margin-bottom: 1.5rem;
                padding-right: 1rem;
            }
            .hero-overlay{
                background: linear-gradient(60deg, rgba(1, 19, 11, 0.6) 20%, rgba(2, 2, 2, 0.6) 100%);
            }
            
            .offer-section{
                padding: 40px 0;
            }
            .offer-box {
                padding: 2rem 1rem 0 1rem;
            }

            .offer-image{
                margin-bottom: 20px;
            }

            .offer-headline {
                font-size: 2rem;
            }

            .gamma-section {
                padding-top: 30px;
                padding-bottom: 0;
            }
            
            .gamma-section .btn {
                width: 100%;
            }
            .gamma-title h2{
                padding: 0 1rem;
                line-height: 1.2em;
            }

            .model-title {
                font-size: 1.7rem;
                margin-top: 10px;
            }
            .model-description{
                font-size: 16px;
                margin-bottom: 5px;
            }
            .model-price{
                margin-top: 0;
                margin-bottom: 15px;
            }

            .section-title {
                font-size: 2rem;
            }

            .timeless-section{
                background-image: url("../img/bg-timeless-mobile.jpg");
                padding: 40px 0 15rem 0;
            }
            .timeless-title {
                font-size: 2rem;
            }

            .footer{
                padding: 40px 0 100px 0;
            }

            .mobile-cta-box {
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;

                background: var(--dark);
                backdrop-filter: blur(10px);
                padding: 0.75rem;

                box-shadow: 0 -6px 20px rgba(0,0,0,0.15);
                z-index: 9999;

                display: block;
            }
        }


        /* Smooth scroll */
        html {
            scroll-behavior: smooth;
        }


        /* ========================================
           MODALE PERSONALIZZATA
        ======================================== */
        

        